<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="DefaultConnection"
         connectionString="Server=d2f059a4-eae9-461e-b65a-a43500ead969.sqlserver.sequelizer.com;Database=dbd2f059a4eae9461eb65aa43500ead969;User ID=igrohvochbtecjud;Password=ZQM47KdvCG4qSGLtVJUZuRaAw8ndjbxtw3qqAEASmufR4svTyzwCK5VhPkE7xamA;"/>
  </connectionStrings>
</configuration>